<h1>Noticias Relacionadas</h1>

<div class="row">
    <a style="border-bottom: solid 1px #f1f1f1" href="#" class="news-rel">
        <div class="col-md-6">
            <img  width="100%" src="{{ asset('images/manos.jpg') }}" alt="">
        </div>
        <div class="col-md-6">
            <h2 class="title-{{ app.request.get('slug_site') }}">Ritual Unión de Manos</h2>
            <p>28 Julio, 2016 </p>
            <p><i class="fa fa-comments" aria-hidden="true"></i> Comentarios (0)</p>
            <p><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes (0)</p>
        </div>
    </a>
</div>
<hr>
