<div class="buscadore">
    <a href="javascript:void(0)" id="dropdownMenu1" type="button" data-toggle="dropdown" class="cat-drop-{{ app.request.get('slug_site') }}">¿Qué Buscas? <i class="fa fa-search" aria-hidden="true"></i></a>

    <div class="dropdown-menu list_categorias-{{ app.request.get('slug_site') }}" aria-labelledby="dropdownMenu1">
        <ul>
            {% for c in categorias %}
                <li><a href="{{ path('proveedores_category', {'slug_site': app.request.get('slug_site'),'slug_category': c.slug}) }}">{{ c.nombre }}</a></li>
            {% endfor %}

        </ul>
    </div>
</div>
</div>