<div class="footer footer-{{ app.request.get('slug_site') }}">
    <div class="menu-footer">
        {% if profile is defined %}
            {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuFooter', [], {'site':app.session.get('site')}) %}
        {% else %}
            {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuFooter', [], {'site':app.request.get('slug_site')}) %}
        {% endif %}
        {{ knp_menu_render(menuItem) }}
    </div>
    <div id="quienes" class="quienes-somos-{{ app.request.get('slug_site') }} zoom-anim-dialog mfp-hide">
        <div style="padding: 4%;text-align: center;" class="col-md-6">
            <h1>¿Quiénes Somos?</h1>
            <p>
                ¡Llegó al Perú la única plataforma digital que te permite hacer realidad cualquier tipo de evento!
            </p>
            <p>
                The Event Planner nace bajo el concepto de DYS (Do IT Yourself) tanto para la Brindamos oportunidades de trabajo a empresas y personas que quieren expandir su negocio en el mundo de los eventos, conectándolos con los clientes directos de The Event Planner que requieren de sus servicios.
                ¡Llegó al Perú la única plataforma digital que te permite hacer realidad cualquier tipo de evento!
            </p>
        </div>
        <div class="col-md-6">
            <img style="position: absolute;top: 24px;" src="{{ asset('images/about_us.jpg') }}" alt=""/>
        </div>

    </div>
    <div class="socials">
        <a href="https://goo.gl/z9agQw" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://goo.gl/TzsxfX" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://goo.gl/5EW00m" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://goo.gl/ULV46P" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i></a>
    </div>

    <p style="color:white;margin-top: 30px">Todos los derechos Reservados &copy - Powered by <a style="text-transform: uppercase;text-decoration: none;color:white;font-style: italic"  href="http://www.gecko-btl.com" target="_blank">Gecko</a></p>
</div>
