<div class="footer footer-{{ app.request.get('slug_site') }}">
        Síguenos en:

        <div class="socials">
            <a href="https://goo.gl/z9agQw" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://goo.gl/TzsxfX" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://goo.gl/5EW00m" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://goo.gl/ULV46P" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i></a>
        </div>



    <!--
        <ul>
            <li><a href="https://goo.gl/z9agQw" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://goo.gl/TzsxfX" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://goo.gl/5EW00m" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://goo.gl/ULV46P" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i></a></li>
        </ul>-->
        <p style="color:white;">Todos los derechos Reservados &copy - Powered by <a style="text-transform: uppercase;text-decoration: none;color:white;font-style: italic"  href="http://www.gecko-btl.com" target="_blank">Gecko</a></p>
</div>

