{% if app.user.password is not null %}

{% else %}
    <div id="password_false" data-password="0" style="display: none"></div>
{% endif %}

<a class="popup-with-zoom-anim" href="#small-dialog" style="display:none">Open with fade-zoom animation</a>

<div id="small-dialog" style="margin: 0 auto;" class="zoom-anim-dialog mfp-hide white-popup">
    <div class="col-md-6">
        <img style="padding-top: 10px;" src="{{ asset('images/recuerda_que.jpg') }}" alt="">
    </div>
    <div class="col-md-6">
        <h1><i class="fa fa-exclamation-circle" aria-hidden="true"></i></h1>
        <h4>Recuerda cambiar el usuario y contraseña de tu cuenta para ingresar fácilmente en una próxima oportunidad.</h4>
        <a href="{{ path('fos_user_change_password') }}">Cambia tu contraseña aquí</a>
    </div>
</div>