{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    {% block main_title %}

        <div class="container">

            <div class="row">
                <div class="tittle_general">
                    <img src="{{ asset('images/tittle_miperfil.png') }}" alt="Proveedores Tittle">
                </div>
            </div>

        </div>
    {% endblock %}

    {{ parent() }}
    <div class="container-fluid portada-profile">
        <div class="container profile-detail">
            <div class="col-sm-4 col-xs-12">
                <img src="{{ asset('images/user_icon.png') }}" alt="User_foto">
            </div>

        </div>
    </div>

    <div class="container">
        <div class="col-md-4 menu_profile">
            {{ knp_menu_render('AppBundle:Builder:menuProfile',{ 'template': 'knp_menu.html.twig'}) }}
        </div>
        <div class="col-md-8  profile-content">
            {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
        </div>
    </div>

{% endblock content %}


