{% trans_default_domain 'FOSUserBundle' %}

    <div class="user_show">
        <h4>Bienvenido(a)</h4>
        <h1>{{ user.nombres }} {{ user.apellidos }}</h1>
        <h3>Usuario: {{ user.username }}</h3>
        <h5>Email: {{ user.email }}</h5>
    </div>



