<html>

<body>
<div>
    <img width="250px" src="{{logo}}" alt="logo event planner">
    <p>¡Hola <strong>{{ nombre }}</strong>!</p>
    <p>Gracias por tu mensaje,</p>
    <p>dentro de poco un asesor de The Event Planner se pondrá en contacto contigo.</p>
    <br>
    <p>Atentamente,</p>
    <p>El Equipo.</p>

    <br>
    <p style="font-style: italic; color: rgba(0,0,0,.5);">"Este es un mensaje automático del sistema y no es necesario responder."</p>
</div>
</body>


</html>




