<html>

<body>
<div>
    <img width="250px" src="{{logo}}" alt="logo event planner">
    <p>Bienvenido a The Event Planner <strong>{{ nombre_negocio }}</strong><br/>
        Te recordamos tu nombre de usuario de acceso : <strong>{{ usuario }}</strong>
    </p>
    <p>
        Te recomendamos entrar a tu perfil de negocio para editar/agregar información adicional.
        Una vez tu perfil actualizado, pasaras en proceso de aprobación.
    </p>
    <p>
        Ingresa a tu perfil de negocio <a href="http://theeventplanner.pe/negocio/zona">AQUI</a>
    </p>
    <br>
    <p style="font-style: italic; color: rgba(0,0,0,.5);">"Este es un mensaje automático del sistema y no es necesario responder."</p>
</div>
</body>


</html>









