imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration

framework:
    #translator: ~
    translator:      { fallback: es }
    #esi:             ~
    #translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "es"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

vich_uploader:
    db_driver: orm # or mongodb or propel or phpcr
    mappings:
            proveedor_logo:
                uri_prefix:         /images/proveedores/logo
                upload_destination: %kernel.root_dir%/../web/images/proveedores/logo
                namer:              vich_uploader.namer_uniqid
            proveedor_image:
                uri_prefix:         /images/proveedores/fotos
                upload_destination: %kernel.root_dir%/../web/images/proveedores/fotos
                namer:              vich_uploader.namer_uniqid

fos_user:
    from_email:
        address:        pmary@ryma-soluciones.com
        sender_name:    TEST
    db_driver: orm # other valid values are 'mongodb', 'couchdb' and 'propel'
    firewall_name: main
    user_class: AppBundle\Entity\User
    registration:
            confirmation:
                    enabled: true
            form:
                type: AppBundle\Form\Type\RegistrationType
    profile:
           form:
               type: AppBundle\Form\Type\ProfileType
liip_imagine:
    resolvers:
       default:
          web_path: ~

    filter_sets:
        cache: ~
        thumb:
            quality: 75
            filters:
                thumbnail: { size: [250, 152], mode: inset }
        small:
            quality: 75
            filters:
                thumbnail: { size: [300, 300], mode: outbound }
        thumb_fotos:
            quality: 75
            filters:
                thumbnail: { size: [188, 113], mode: inset }
knp_paginator:
    template:
        pagination: KnpPaginatorBundle:Pagination:foundation_v5_pagination.html.twig     # sliding pagination controls template
        sortable: KnpPaginatorBundle:Pagination:sortable_link.html.twig # sort link template