<div class="aprobe-buttons">
    <ul>
        <li>
            <a class="btn btn-danger" href="{{ path('admin_negocios_espera') }}">Negocios en Espera</a>
        </li>
        <li>
            <a class="btn btn-success" href="{{ path('admin_negocios_acceptados') }}">Negocios Aceptados</a>
        </li>
    </ul>
</div>

<hr>