<ul class="aprobe-buttons">
    <li>
        <a class="btn btn-default" style="position: absolute;left: 60px; width: 140px; text-align: right;padding-right: 30px" href="{{ path('admin_negocios') }}"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Atrás</a>
    </li>
    {% if proveedor.isAccepted == true %}
        <li>
            <a class="btn btn-danger" href="{{ path('admin_negocios_disable', {'id': proveedor.id}) }}">Desaprobar <i class="fa fa-times-circle" aria-hidden="true"></i></a>
        </li>

    {% else %}
        <li>
            <a class="btn btn-success" href="{{ path('admin_negocios_enable', {'id': proveedor.id}) }}">Aprobar <i class="fa fa-check-circle" aria-hidden="true"></i></a>
        </li>
    {% endif %}
</ul>