{% extends 'dinner/layout.html.twig' %}
{% block title %}Inspiraciones | Música{% endblock %}

{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/inspiraciones_dinner_tittle.png') }}" alt="Inspiraciones Tittle">
            </div>
        </div>
    </div>
{% endblock %}
{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuDinner', [], {'image_title': 'inspiraciones_dinner_tittle.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
        <div class="container music-container-dinner"> 
            <div class="col-md-4 col-xs-12">
                <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A12163228073%3Aplaylist%3A77jJUt6EGc07iV7VBwQj38&theme=white" width="320" height="640" frameborder="0" allowtransparency="true"></iframe>
            </div>
            <div class="col-md-4 col-xs-12">
                <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A12163228073%3Aplaylist%3A77jJUt6EGc07iV7VBwQj38&theme=white" width="320" height="640" frameborder="0" allowtransparency="true"></iframe>
            </div>
            <div class="col-md-4 col-xs-12">
                <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A12163228073%3Aplaylist%3A77jJUt6EGc07iV7VBwQj38&theme=white" width="320" height="640" frameborder="0" allowtransparency="true"></iframe>
            </div>


        </div>
{% endblock %}
