@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "OpenSans-Light";
    src: url(../fonts/OpenSans-Light.ttf);
}

body{
    font-family: 'Lato', sans-serif;
    color: rgba(0,0,0,.7);
    overflow-x: hidden;
}
.flex-direction-nav a{
    height: 50px;
}
/*=============
Nav bar
===============*/
.total-container .navbar{
    margin-bottom:0;
}
.menu-principal .navbar-default{
    margin-left: 11%;
}
.menu-principal .navbar-default li{
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 30px;
}
.menu-principal .navbar-default li a{
    color: rgba(0,0,0,.5);
}
.menu-principal .navbar-right{
    position: absolute;
    right:120px;
}
.logo_header{
    margin-top: 30px;
    margin-left: 50px;
    position: absolute;
}
#center-image a img{
    width: 400px;
}
#center-image{
    position: relative;
    top: -30px;
    padding-top: 15px;
}


/*=============
GLOBAL
===============*/
.img-default{
    width: 360px;
    height: 220px;
    background: rgba(0,0,0,.2);
    display: inline-block;
    text-align: center;

}

.img-default img{
    width: 150px;
    padding-top: 30px;
    opacity: .2;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#tittle_responsive{
    display: none;
}
.navbar-default{
    height: 100px;
}

.comments-box .media-left img{
    width: 80px;
}
.session-start{
    margin: 10px 0;
}
.atras{
    display: none;
}
#atras{
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fff;
    font-size: 40px;
    background: rgba(0,0,0,.5);
    padding: 10px 15px;
    border-radius: 30px;
}



.tittle-slicks{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: rgba(0,0,0,.7);
    margin: 35px 35px 0 35px;
    text-rendering: optimizeLegibility;
    font-family: 'Bree Serif', serif;
}
.subtittle-slick{
    font-size: 17px;
    text-align: center;
    color: rgba(0,0,0,.4);
    margin: 5px 5px 20px 5px;
    font-family: 'Bree Serif', serif;
}

.home-slicks{
    padding-bottom: 30px;
}
.home-slicks a{
    padding: 0 5px;
}
.home-slicks2{
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    background: #F7F6F5;
    padding-bottom: 30px;
}
.home-slicks2 a{
    padding: 0 5px;
}

.respuesta{
    float: right;
    font-style: italic;
}

.jq-ry-container{
    padding: 0;
}

.navbar-left .current a{
    color: rgba(0,0,0,1);
}

.flash-success{
    top:0;
}
.logo_login img{
    width: 100%;
}
.logo_login{
    text-align: center;
    padding:10px;
    margin: 5px 0;
}
.text-forcomments{
    text-align: center;
}
.form-login{
    padding: 20px;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.register-logo{
    text-align: center;
}
.register-logo img{
    width:80%;
}
.modal{
    display: inline-block;
}

#carousel{
    margin-top: 5px;
    margin-bottom: 20px;
}
#slider{
    margin-bottom: 0;
    margin-top: 0;
}

.tittle_base{
    text-align: center;
}

.tittle_base img{
    width: 800px;
}


.descripcion{
    padding: 10px;
    color:rgba(0,0,0,.5);
}
.navbar-default{
    background: none;
    box-shadow: none;
    border:none;
}



.slick_wedding div img{
    width: 100%;
    margin: 0 5px;
}

.proveedores a{
    text-decoration: none;
}
.proveedores h3{
    font-family: "OpenSans-Light", serif;
    text-align: center;
    font-size: 15px;
    margin: 0;

}
.proveedores2 h3{
    font-family: "OpenSans-Light", serif;
    text-align: center;
    font-size: 15px;
    margin: 0;

}
.proveedor-detail-page{
    margin-top: 30px;
}
.card-prov{
    padding: 0 60px;
}




.filtroimg{
    position: absolute;
    opacity: 0;
    width: 353px;
    transition: all .5s;
}
.filtroimg:hover{
    opacity:.5;
}

.btn-flecha span{
    color: #fff;
}
.categorias{
    width:100%;
    padding: 20px 0;
}
.categorias ul{
    width: 100%;
    text-align: center;
    top: 80%;
}
.categorias ul li a{
    padding: 10px 20px;
}
.categorias .categorias2{
    width: 100%;
}

.heart, .heart2{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #fff;
    z-index: 200;
    transition: all .5s;
}

.music-container{
    padding-bottom: 30px;
    text-align: center;
}
.principal li a{
    color: #C50051;
}

.tittle_general img{
    width: 800px;
    margin: 0 auto;
}

.footer{
    font-family: "OpenSans-Light";
    height: 130px;
    padding: 20px;
    background: #edeae6;
    text-align: center;
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.3);
}
.footer li{
    display:inline-block;
    text-align: center;
    margin: 20px 5px;
}
.footer li a i{
    width:25px;
}
.footer li a{
    color: rgba(0,0,0,.5);
    background: #fff;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 100px;
    transition: all .5s;
}
.footer_principal .footer li a:hover{
    color: #C50051;
}

.btn-entrar{
    border-radius: 0;
    background: #C70052;
    color: rgba(255,255,255,.7);
    transition: all .5s;
}
.btn-entrar:hover{
    color: #fff;
}
#grid i{
    font-size: 25px;
}
.navigation{
    float: right;
}
.navigation li a{
    border: solid 2px #35B3B4;
    color: #35B3B4;
}

.navigation .current a{
    background: rgba(53,179,180,.5);
    color: #fff;
}
.filtros_proveedores select{
    width:120px;
    height: 40px;
}
.filtros_proveedores{
    text-align: right;
}
.manage_title{
    padding: 0 10px;
}
.form-login2{
    background: #fff;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}
.form-login2 label{
    color:#C70052;
}

.form-login3{

    padding: 20px;
    font-family: 'Lato', sans-serif;
}
.form-login3 label{
    color:#C70052;
}

.form-login label{
    color:#C70052;
}

.form-login li{
    list-style: none;

}
.form-login i{
    padding: 10px;
    font-size: 12px;
}
.form-login ul{
    padding-left: 0;
    display: inline-block;
}
.form-login .alert{
    padding: 0;
}
.form-wedding-contactenos{
    margin-top: 30px;
}
.form-wedding-contactenos li{
    list-style: none;

}
.form-wedding-contactenos i{
    padding: 10px;
    font-size: 12px;
}
.form-wedding-contactenos ul{
    padding-left: 0;
    display: inline-block;
}
.form-wedding-contactenos  .alert{
    padding: 0;
}

.categorias-list-page{
    margin-top: 30px;
}


.proveedor-info{
    position: relative;
    text-align: center;
}

#rateYo,#rateYo2,#rateYo3{
    margin: 0 auto;
}
#rateYo2{
    margin: 15px auto;
}
.media-left{
    text-align: center;
}
#rateYo3{
    margin: 10px auto;
}
.proveedor-info{
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}
.proveedor-info>img{
    width: 100%;
}
.links-proveedores a{
    text-decoration: none;
    padding: 0 10px;
    font-size: 16px;
}

.sweddings .favorite-button{
    text-decoration: none;
    margin-top:10px;
}
.favorite-button{
    background: url(../images/heart_like.png);
    display: inline-block;
    width: 33px;
    height: 30px;
}

.proveedor-social{
    padding-top: 10px;
}
.proveedor-social ul{
    float: right;
    vertical-align: top;
}
.proveedor-social ul i{
    font-size: 35px;
}
.proveedor-social li{
    display: inline-block;
}
.proveedor-content{
    text-align: center;
    padding: 20px 0;
}
.comments-box{
    padding: 30px;
}
.comments-box .media-heading .date{
    padding: 0 10px;
}
.flexslider2 img{
    width: 100%;
}

.user-login{
    background: none;
    border: none;
    border-radius: 50%;
}
.user-login span{
    display: block;
}
.btn-login img{
    display: inline-block;
}
.btn-login{
    position: absolute;
    margin-top: 30px;
}
.btn-login span{
    padding: 0 10px;
}
.user-login:focus{
    outline: none;
}
.dropdown-user{
    position: absolute;
    top: 60px;
    left: -280px;
    width: 350px;
    padding: 10px;
}
.dropdown-user a{
    color: #fff;
    text-decoration: none;
}
.dropdown-user button{
    margin: 10px 0;
}
.named{
    padding-left: 40px;
}

.flash-success{
    position: absolute;
    background: #C90051;
    padding: 10px;
    color: white;
    border-radius: 0 0 10px;
}

.comment-detail img{
    margin: 0 auto;
}
.comment-detail{
    text-align: center;
    border-bottom: solid 1px rgba(0,0,0,.1);
    padding:10px;
}
.comment-detail:last-child{
    border:none;
}
.video-general{
    margin: 20px;
    border: solid 5px #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}



.slick-prev::before {
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f001';
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.slick-next::before{
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f002';
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.image-contact{
    text-align: center;
    margin: 20px 0;
}
.front{
    position: relative;
}
.back img{
    width: 100%;
}
.back{
    position: relative;
}
.front img{
    width: 100%;
}
.logo-circle{
    display:none;
}
#logo-circle{
    width: 100%;
    border-radius: 60%;
}
#logo-circle{
    position: absolute;
    top: 15px;
}
.form-control{
    border-radius: 0;
}


.fotos_master{
    margin: 10px 0;
    position: relative;
}
.fotos_master img{
    width: 100%;
    border: solid 5px #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
    transition: all .5s;
}
.fotos_master img:hover{
    transform: scale(1.1);
}
.fotos_master p:hover{
    color: rgba(255,255,255,1);
}
.fotos_master p{
    position: absolute;
    right: 35px;
    bottom: 0;
    color: rgba(255,255,255,.5);
    text-shadow: 2px 2px 5px rgba(0,0,0,.2);
    font-size: 20px;
}

/*=============
Proveedores-List
===============*/
.image-prov{
    position: relative;
    margin: 20px 0 45px 0;
}
.image-prov .prov-foto{
    width: 100%;
    border-radius: 0 0 5px 5px;
    border-bottom: solid 4px #35B3B4;
}
.proveedores2 a:hover .logo_tag>img{
    transform: scale(1.2);
}
.logo_tag{
    position: absolute;
    bottom: -45px;
    left:50%;
    margin-left:-50px;
}
.logo_tag img{
    width: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    transition: all .5s;
}


/*=============
Negocios
===============*/
.negocios a{
    left: 39px;
    text-rendering: optimizeLegibility;
    position: fixed;
    z-index: 2;
    font-size: 15px;
    background: #C90051;
    padding: 10px;
    opacity: .5;
    color: rgba(255,255,255,.5);
    transform: rotate(90deg);
    transform-origin: left top 0;
    transition: all .5s;
}
.negocios a:hover, .negocios2 a:focus{
    text-decoration: none;
    color: #fff;
    opacity: 1;
}



/*=============
Profile
===============*/

.fotos_profile_gusta{
    margin: 10px 0;
}
.fotos_profile_gusta img{
    width: 100%;
}
.portada-profile{
    height: 150px;
    position: relative;
    background: url("../images/banner_profile.png") center/cover;
}

.menu_profile{
    width: auto;
    margin: 50px;
    z-index: 200;
    padding: 0;
    float: left;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}
.menu_profile ul{
    margin: 0;
}
.menu_profile span{
    margin: 0 auto;
}
.menu_profile li:first-child a:before{
    content: '';
}
.menu_profile li{
    display: block;
    margin: -1px 0;
}
.menu_profile .current a{
    border: solid 1px transparent;
    background: #C70052;
    color: #fff;
    box-sizing: border-box;
}
.menu_profile i{
    padding-right: 10px;
}
.menu_profile a{
    display: block;
    width: 250px;
    text-decoration: none;
    padding: 10px 15px;
    background: #fff;
    border: solid 1px rgba(0,0,0,.2);
    color: rgba(0,0,0,.5);
    transition: all .5s;
}
.menu_profile a:hover{
    background: rgba(0,0,0,.3);
    color: #fff;
}
.profile-detail span{
    font-weight: bold;
}
.profile-detail{
    text-align: center;
    position: absolute;
    top:80px;
}
.fos_user_user_show{
    padding: 25px;
}
.profile-detail img{
    width: 100px;
    margin: 10px auto;
}
.profile-content{
    position: relative;
    padding:20px;
}
.user_show{
    padding: 10px;
    width: 250px;
    margin:100px auto;
}
.cropcontain p{
    position: absolute;
    top: 25%;
    left: 26%;
}
#cropContainerMinimal{
    margin: 150px auto;
    background-color: rgba(0,0,0,.1);
}

#cropContainerModal{ width:100%; height:200px; position: relative; border:1px solid #ccc;}
#cropContaineroutput{ width:100%; height:145px; position: relative; border:1px solid #ccc;}
#cropContainerEyecandy{ width:100%; height:200px; position: relative; border:1px solid #ccc;}
#cropContainerPreload{ width:100%; height:200px; position: relative; border:1px solid #ccc;}
#cropContainerMinimal{ width:100px; height:100px; position: relative; border:1px solid #ccc;}
/*=============
User Login Responsive
===============*/

.user-login-responsive{
    display: none;
}



/*=============
Votos GRID
===============*/
.popupvoto h1{
    color:#D72366;
    font-size: 25px;
}
.popupvoto{
    background: white;
    position: relative;
    padding: 20px;
}
#demo {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.votosgusta{
    position: absolute;
    top:20px;
    right:20px;
}
.votosgusta a{
    font-size: 20px;
    color: #35B3B4;
}

#demo img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.white-panel {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    padding: 10px;
}

.white-panel h1 {
    font-size: 1em;
}
.white-panel h1 a {
    color: #D72366;
}
.white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/*=============
KIDS
===============*/

.kids .footer li a:hover{
    color: #971ED1;
}
.kids-login li a{
    padding: 10px;
    color: #971ED1;
}
.categorias_kids{
     width:100%;
     padding: 20px 0;
}
.categorias_kids ul{
    width: 100%;
    text-align: center;
    top: 80%;
}
.categorias_kids ul li a{
    padding: 10px 20px;
}
.categorias_kids .categorias2{
    width: 100%;
}

.proveedores_kids .thumbnail{
    border: none;
    position: relative;
    box-shadow: none;
    border-bottom: solid 3px #971ED1;
}
.proveedores_kids a{
    text-decoration: none;
}
.proveedores_kids h3{
    font-family: "OpenSans-Light", serif;
    text-align: center;
    font-size: 15px;
    margin: 0;
}
.btn-kids-entrar, .btn-coti-kids{
    border-radius: 0;
    background: #971ED1;
    color: #fff;
    height: 36px;
}
.btn-tittle_kids{
    width: 200px;
    background: none;
    color: rgba(0,0,0,.5);
    border: solid 2px #971ED1;
    border-radius: 0;
}

/*=============
PARTY
===============*/
.form-party-contactenos label{
    color: #6BD204;
}
.form-party-contactenos{
    margin-top: 30px;
}
.form-party-contactenos li{
    list-style: none;

}
.form-party-contactenos i{
    padding: 10px;
    font-size: 12px;
}
.form-party-contactenos ul{
    padding-left: 0;
    display: inline-block;
}
.form-party-contactenos  .alert{
    padding: 0;
}
.navigation-party{
    float: right;
}
.navigation-party li a{
    border: solid 2px #6BD204;
    color: #6BD204;
}

.navigation-party .current a{
    background: rgba(107,210,4,.5);
    color: #fff;
}
.music-container-party iframe{
    border: solid 5px #6BD204;
    padding: 3px;
}
.cotizacion-form-partys{
    background: #fff;
    padding:30px;
    padding-bottom: 6px;
}
.cotizacion-form-partys h1{
    font-size: 25px;
    text-align: center;
    color: #6BD204;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.cotizacion-form-partys .btn-wedding-entrar{
    border-radius: 0;
    width: 100%;
}
.cotizacion-form-partys label{
    color:#6BD204;
}
.spartys .favorite-button-party{
    text-decoration: none;
    margin-top:10px;
}
.favorite-button-party{
    background: url(../images/heart_party.png);
    display: inline-block;
    width: 33px;
    height: 30px;
}

.lparty a, .sweddings a{
    color: #6BD204;
}
.boton-megusta_party{
    padding: 0 10px;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    text-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.boton-megusta_party a{
    color: #6BD204;
    font-size: 30px;
}
.btn-coti-party{
    margin: 10px 0;
    font-style: normal;
}
.image-prov .prov-foto-party{
    width: 100%;
    border-radius: 0 0 5px 5px;
    border-bottom: solid 4px #6BD204;
}
.btn-party-entrar, .btn-coti-party{
    border-radius: 0;
    background:#6BD204;
    color: #fff;
    height: 36px;
}
.btn-tittle_party{
    width: 200px;
    background: none;
    color: rgba(0,0,0,.5);
    border: solid 2px #6BD204;
    border-radius: 0;
}

.party .footer li a:hover{
    color: #6BD204;
}
.party-login li a{
    padding: 10px;
    color: #6BD204;
}
.proveedores_party .thumbnail{
    border: none;
    position: relative;
    box-shadow: none;
    border-bottom: solid 3px #6BD204;
}
.proveedores_party a{
    text-decoration: none;
}
.proveedores_party h3{
    font-family: "OpenSans-Light", serif;
    text-align: center;
    font-size: 15px;
    margin: 0;
}
.categorias_party{
    width:100%;
    padding: 20px 0;
}
.categorias_party ul{
    width: 100%;
    text-align: center;
    top: 80%;
}
.categorias_party ul li a{
    padding: 10px 20px;
}
.categorias_party .categorias2{
    width: 100%;
}

/*=============
Profile Change
===============*/
.change_foto{
    width: 250px;
    margin: 15% auto;
    text-align: center;
}
.change_foto button{
    width: 100%;
}
.change_foto img{
    margin: 0 auto;
}
/*=============
Counter Rating
===============*/
div.rating-container {
    position: relative;
}
div.rating-container div.counter {
    display: none;
    position: absolute;
    min-width: 20px;
    padding: 5px;
    font-size: 15px;
    line-height: 0px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    right: 123px;
    margin-top: -10px;
    color: white;
}
div.rating-container div.counter:before,
div.rating-container div.counter ::before {
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    margin-top: -5px;
    display: block;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
    border-width: 5px 5px 5px 0px;
    left: -10px;
    border-style: solid;
    position: relative;
}
div.rating-container:hover div.counter {
    display: block;
}

/*=============
Proveedor errors
===============*/




.proveedor_comments li{
    list-style: none;

}
.proveedor_comments i{
    padding: 10px;
    font-size: 12px;
}
.proveedor_comments ul{
    padding-left: 0;
    display: inline-block;
}
.proveedor_comments .alert{
    padding: 0;
}
/*=============
Listones Premium
===============*/
.liston{
    position: absolute;
    top: 0;
    left: 0;
}
.liston img{
    width: 100%;
}

/*=============
CONTACTENOS
===============*/


.contact-event{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
}
.contact-event li{
    font-size: 16px;
}
.contact-event i{
    font-size: 16px;
    padding: 0;
}
.contact-event ul{
    padding: 20px;
    background: rgba(255,255,255,.4);
}

/*=============
 WEDDING
===============*/
.music-container iframe{
    border: solid 5px #35B3B4;
    padding: 3px;
}
.form-wedding-contactenos label{
    color: #35B3B4;
}
.boton-megusta{
    padding: 0 10px;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0,0,0,.1);
}
.boton-megusta a{
    color: #35B3B4;
    font-size: 30px;
}
.cotizacion-form-weddings{
    background: #fff;
    padding:30px;
    padding-bottom: 6px;
}
.cotizacion-form-weddings h1{
    font-size: 25px;
    text-align: center;
    color: #35b3b4;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.cotizacion-form-weddings .btn-wedding-entrar{
    border-radius: 0;
    width: 100%;
}
.cotizacion-form-weddings label{
    color:#35b3b4;
}
.register_wedding_page{
    font-family: 'Lato', sans-serif;
    -webkit-animation-name: test;
    -webkit-animation-duration:20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

@-webkit-keyframes test {
    0% {
        background:  url("../images/dinner_register.jpg") center/cover no-repeat;
    }
    30% {
        background: url("../images/register_weeding_body.jpg") center/cover no-repeat;
    }
    40% {
        background:url("../images/partyg_register.jpg") center/cover no-repeat;
    }
    70% {
        background: url("../images/party_register.jpg") center/cover no-repeat;
    }
    100% {
        background:  url("../images/dinner_register.jpg") center/cover no-repeat;
    }
}

.register-after-background{
    background: url("../images/crossword.png") ;
    position: absolute;
    width: 100%;
    height: 100%;
}



.lweddings a, .sweddings a{
    color: #35b3b4;
}


.btn-coti{
    margin: 10px 0;
    font-style: normal;
}
.btn-wedding-entrar, .btn-coti{
    border-radius: 0;
    background:#35b3b4;
    color: #fff;
    height: 36px;
}
.form-wedding-login{
    margin-bottom: 20px;
    padding: 15px;
}
.form-wedding-login label{
    color:#35b3b4;
}

.wedding-login li a{
    padding: 10px;
    color: #35b3b4;
}
.wedding .footer li a:hover{
    color: #35b3b4;
}
.proveedores .thumbnail{
     border: none;
     position: relative;
     box-shadow: none;
     border-bottom: solid 3px #00B3C7;
 }

.proveedores2 .thumbnail{
    border: none;
    height: 360px;
    margin: 20px 0;
    position: relative;
    box-shadow: none;
    border-bottom: solid 3px #00B3C7;
}
.proveedores2 .thumbnail .caption{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.btn-tittle{
    width: 200px;
    background: none;
    color: rgba(0,0,0,.5);
    border: solid 2px #35b3b4;
    border-radius: 0;
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
    border-radius: 0 10px 10px 0;
}
.btn-flecha{
    background: #35b3b4;
    border: solid 5px #35b3b4;
    border-radius: 0 10px 10px 0;
}

.wedding_proveedores{
    box-sizing: border-box;
    margin: 5px;
    text-align: center;
    border-bottom:solid 3px #35b3b4;
}
.wedding_proveedores a{
    text-decoration: none;
}
.wedding_proveedores h1{
    text-align: center;
    font-size: 15px;
    font-family: "OpenSans-Light", serif;
}
/*=============
DINNER
===============*/

.banner-sliders li img{
    width: 250px;
}

/*=============
Animates
===============*/

.animacion{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}
.animacion img {
    margin: 50px auto;
}

.text-check{
    text-align: center;
}
.text-check img{
    margin: 20px auto;
}
/*=============
Zona de Negocio
===============*/
.dashboard-section-icons{
    position: absolute;
    background: #D12768;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    top:0;
    right: 0;
}
.logo_prov{
    width: 100px;
    position: absolute;
    top:0;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.nav-zonaneg{
    background: rgba(209,39,104,.8);
    border-radius: 0;
    box-shadow: 0 3px 0 #D12768;
    margin-bottom: 0;
    z-index: 1;
}
.nav-zonaneg .current{
    background: #D12768;
}
.nav-zonaneg #bs-example-navbar-collapse-1{
    margin-left: 15%;
}
.nav-zonaneg #bs-example-navbar-collapse-1 a{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
.dashboard .moy{
    position: relative;
    height: 43%;
    font-size: 90px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    padding: 10px;
}
.dashboard .total_users{
    position: relative;
    height: 43%;
    font-size: 90px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    padding: 10px;
    margin-top: 10px;
}
.dashboard .comments-negocio .comments-box{
    padding: 20px;
    overflow-x: auto;
    height: 90%;
}
.dashboard .comments-negocio{
    position: relative;
    overflow-x: auto;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.dashboard .moy p{
    font-weight: bold;
    font-size: 17px;
}
.dashboard .total_users p{
    font-size: 50px;
}
.dashboard .best_pics{
    position: relative;
    height: 90%;
    overflow-x: auto;
    padding-top: 40px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.dashboard .best_pics p{
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}
.dashboard .best_pics .foto_favorite img{
    width: 100%;
    margin: 10px;
}
.comments-negocio .links-comments{
    text-decoration: none;
    color: rgba(0,0,0,.7);
}
.comments-negocio2 .links-comments{
    text-decoration: none;
    color: rgba(0,0,0,.7);
}
.dashboard .btn-responder{
    float: right;
    margin: 5px;
    transition: all .5s;
}
.dashboard .btn-responder:hover{
    background: #D12768;
    color: #fff;
}
.change-pass{
    margin-top: 40px;
}
.change-pass h2{
    text-align: center;
    margin-bottom: 20px;
}
.dashboard .gest-img img{
    padding: 10px;
    width: 100%;
}
#select-img{
    text-align: center;
}
#select-img h2{
    font-size:20px;
}
#select-img button{
    margin-top: 10px;
}
.alert-success{
    margin-top: 58px;
    margin-bottom: 0;
}
.dashboard .fotos_galery{
    padding: 10px;
    margin: 20px;
    width: 100%;
    height: 100%;
}
.gest-img a{
    position: absolute;
    top: 25px;
    right: 45px;
    font-size: 24px;
    color: #fff;
    transition: all .5s;
    text-shadow: 2px 2px 5px #000;
}

.gest-img{
    text-align: center;
}
.gest-img a:hover{
    transform: scale(1.5);

}
.check-boxs{
    width: 100%;
    display: inline-block;
}
.check-boxs li{
    list-style: none;
}
.check-boxs .checkbox_category{
    font-weight: bold;
    text-transform: uppercase;
}
.check-boxs .indent{
    padding-left: 20px;
}
/*=============
DASHBOARD ADMIN
===============*/
#nav-dashboard{
    z-index: 2;
    background: #23282D;
    width: 190px;
    position: fixed;
    height: 100%;
    border-radius: 0;
}
.menu-dashboard li a{
    color: #fff;
    text-transform: uppercase;
    font-size:12px;
    cursor: pointer;
}
.menu-dashboard li a:hover{
   background: #32373C;
}
#nav-dashboar .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background: #32373C;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background: #32373C;
}
.menu-dashboard .dropdown-menu{
    top: 0;
    left: 190px;
    padding: 0;
    text-align: center;
    border: 0;
    margin:0;
}

.menu-dashboard .dropdown-menu li a{
    color: #fff;
    background: #23282D;
    padding: 10px 0;
    cursor: pointer;
}
.menu-dashboard .dropdown-menu li a:hover{
    background: #32373C;
}

.menu-dashboard i{
    font-size: 18px;
    padding-right: 10px;
}
.body-dashboard{
    margin-left: 190px;
}
.dropdown-toggle.active{
    background: #32373C;
}
.dropdown-toggle.active:after{
    right: 0;
    border: 8px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #fff;
    top: 50%;
    margin-top: -8px;
}
.white-panel .admin_delete, .tendencias-images .admin_delete{
    font-size: 20px;
    color: #FFF;
    top:20px;
    right: 20px;
    z-index: 9999;
    position: absolute;
    text-shadow: 0px 0px 10px #000;
    transition: all .5s;
}
.white-panel .admin_delete:hover, .tendencias-images .admin_delete:hover{
    transform: scale(1.8);
}
.white-panel .admin_edit{
    font-size: 20px;
    color: #fff;
    top:16%;
    right: 35%;
    z-index: 9999;
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    background: rgba(0,0,0,.5);
    text-shadow: 2px 2px 5px #000;
    transition: all .5s;
    text-decoration: none;
}

.body-dashboard .tendencias_return{
    margin-top: 20px;
    display: block;
}
.tendencias-images{
    position: relative;
}
.dash-edit h1{
    text-align: center;
    color: #23282D;
    margin: 20px 0;
    font-size:25px;
    text-transform: uppercase;
}
.links-tendencias{
    margin: 20px;
    text-align: center;
}
.links-tendencias ul li{
    display: inline-block;
    margin: 5px;
}
.links-tendencias ul li a{
    color: #fff;
    background: #23282D;
    padding: 10px;
    text-decoration: none;
    transition: all .5s;
}
.links-tendencias ul li a:hover{
    background: rgba(0,0,0,.5);
}
/*=============
MÓVILES PORTAIT
===============*/

@media only screen and (max-width:700px){
    .image-prov{
        margin: 20px 0 55px 0;
    }
    .menu-principal .navbar-right{
        position: initial;
        text-align: center;
        text-transform: uppercase;
    }
    .menu-principal .navbar-default{
        margin: 0;
    }
    .menu-principal .navbar-default li{
        padding: 10px 0;
        text-align: center;
    }
    .logo_header{
        margin: 10px auto;
        position: relative;
        width: 50px;
        display: block;
    }
    .navbar-default{
        height: auto;
    }

    #center-image{
        display: none;
    }
    #tittle_responsive{
        display: block;
    }
    .cropcontain{
        display: inline;
    }
    .cropcontain p{
        top: -40px;
        left: 35%;
    }
    #cropContainerMinimal{
        margin: 20px auto;
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width: auto;
    }
    .atras{
        margin: 10px 0;
        width: 84px;
        display: inline-block;
    }
    #atras{
       display: none;
    }
    .back-register .btn-entrar{
        width: 100%;
    }
    .image-contact img{
        width: 100%;
    }
    .profile-detail{
        text-align: center;
        position: relative;
    }
    .proveedores2 .thumbnail{

    }
    .proveedores2 h3{
        display: none;
    }
    .logo-circle{
        display: block;
        width:100px;
        height: 100px;
        left: 110px;
        top: 160px;
        border: solid 1px rgba(0,0,0,.1);
        box-shadow: 2px 2px 5px rgba(0,0,0,.1);
        z-index: 200;
        position: absolute;
        background: white;
    }
    .register_wedding_page{
        -webkit-animation-duration:0s;
    }

    .register-logo img{
        width: 100%;
    }
    .filtros_proveedores{
        text-align: center;
    }
    .btn_login_responsive{
        display: none;
    }
    .user_show{
        margin:10px auto;
    }
    .user-login-responsive{
        display: block;
    }
    .user-login-responsive a{
        text-decoration: none;
        color: #000;
        margin: 0 10px;
    }
    .user-login-responsive img{

        display: inline-block;
    }
    .menu_profile li{
        width: 100%;
    }
    .music-container iframe{
        width: 320px;
        margin: 10px 0;
    }
    .music-container{
        margin: 10px auto;
    }
    .music-container-party iframe{
        width: 320px;
        margin: 10px 0;
    }
    .music-container-party{
        margin: 10px auto;
    }
    .tittle_base img{
        width: 100%;
    }
    .tittle_general img{
        width: 100%;
    }
    .header li{
        text-align: center;
        width: 100%;
    }
    .wedding .footer li a i{
        width:20px;
    }
    .footer_principal li a i{
        width:20px;
    }
    .form-login{
        padding: 20px;
        margin: 65px 0;
    }
    .footer li a{
        color: rgba(0,0,0,.5);
        background: #fff;
        font-size: 20px;
        padding: 10px 15px;
        border-radius: 100px;
        transition: all .5s;
    }

}