@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "OpenSans-Light";
    src: url(../fonts/OpenSans-Light.ttf);
}
body{
    overflow-x: hidden;
}
.tittle_weddings{
    text-align: center;
}

.tittle_weddings img{
    width: 800px;
}

.header li{
    display: inline-block;
    font-family: "OpenSans-Light", serif;
    text-transform: uppercase;
}
.header li a{
    color: rgba(0,0,0,.5);
}

.wedding-login li a{
    color: #35b3b4;
}

.descripcion{
    font-family: "OpenSans-Light", serif;
    padding: 10px;
    color:rgba(0,0,0,.5);
}
.navbar-default{
    background: none;
    box-shadow: none;
    border:none;
}

.slick_wedding div img{
    /*width: 250px;*/
    margin: 0 auto;
}
.footer{
    font-family: "OpenSans-Light";
    height: 140px;
    padding: 20px;
    background: #edeae6;
    text-align: center;
}
.footer li{
    display:inline-block;
    text-align: center;
    margin: 20px 5px;
}
.footer li a i{
    width:25px;
}
.footer li a{
    color: rgba(0,0,0,.5);
    background: #fff;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 100px;
    transition: all .5s;
}
.footer li a:hover{
    color: #6cf0da;
}
.proveedores a{
    text-decoration: none;
}
.proveedores h3{
    text-align: center;
    font-size: 15px;
    margin: 0;
    font-family: "OpenSans-Light", serif;
}

.proveedores .thumbnail{
    border: none;
    box-shadow: none;
    border-bottom: solid 3px #00B3C7;
}

.filtroimg{
    position: absolute;
    opacity: 0;
    width: 353px;
    transition: all .5s;
}
.search .input-group{
    background: #00B1C9;
    padding: 5px;
    border-radius: 5px;
}
.filtroimg:hover{
    opacity:.5;
}

.search{
    padding: 20px;
}

@media only screen and (max-width:700px){

    .tittle_weddings img{
        width: 100%;
    }
    .header li{
        width: 100%;
    }
    .footer li a i{
        width:20px;
    }
    .footer li a{
        color: rgba(0,0,0,.5);
        background: #fff;
        font-size: 20px;
        padding: 10px 15px;
        border-radius: 100px;
        transition: all .5s;
    }

}