@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "OpenSans-Light";
    src: url(../fonts/OpenSans-Light.ttf);
}

body{
    overflow-x: hidden;
}
.flex-direction-nav a{
    height: 50px;
}

/*=============
GLOBAL
===============*/


.tittle_base{
    text-align: center;
}

.tittle_base img{
    width: 800px;
}
.header li{
    display: inline-block;
    font-family: "OpenSans-Light", serif;
    text-transform: uppercase;
}
.header li a{
    color: rgba(0,0,0,.5);
}

.descripcion{
    font-family: "OpenSans-Light", serif;
    padding: 10px;
    color:rgba(0,0,0,.5);
}
.navbar-default{
    background: none;
    box-shadow: none;
    border:none;
}

.slick_wedding div img{
    width: 100%;
    margin: 0 5px;
}

.proveedores a{
    text-decoration: none;
}
.proveedores h3{
    text-align: center;
    font-size: 15px;
    margin: 0;
    font-family: "OpenSans-Light", serif;
}

.filtroimg{
    position: absolute;
    opacity: 0;
    width: 353px;
    transition: all .5s;
}
.filtroimg:hover{
    opacity:.5;
}

.btn-flecha span{
    color: #fff;
}
.categorias{
    float: right;
    padding: 20px 0;
}

.heart, .heart2{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #fff;
    z-index: 200;
    transition: all .5s;
}

.music-container{
    padding-bottom: 30px;
    text-align: center;
}
.principal li a{
    color: #C50051;
}

.tittle_general img{
    width: 800px;
    margin: 0 auto;
}

.footer{
    font-family: "OpenSans-Light";
    height: 140px;
    padding: 20px;
    background: #edeae6;
    text-align: center;
}
.footer li{
    display:inline-block;
    text-align: center;
    margin: 20px 5px;
}
.footer li a i{
    width:25px;
}
.footer li a{
    color: rgba(0,0,0,.5);
    background: #fff;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 100px;
    transition: all .5s;
}
.footer_principal .footer li a:hover{
    color: #C50051;
}

.btn-entrar{
    background: #C70052;
    color: #fff;
}
.btn-entrar:hover{
    color: rgba(255,255,255,.7);
}

.form-login{
    padding-bottom: 20px;
}


#grid i{
    font-size: 25px;
}
.navigation{
    float: right;
}

.navigation .current a{
    background: rgba(0,0,0,.3);
    color: #fff;
}
.filtros_proveedores select{
    width:120px;
    height: 30px;
}
.filtros_proveedores{
    float: right;
}
.manage_title{
    padding: 0 10px;
}

.form-login label{
    color:#C70052;
}

.proveedor-info{
    text-align: center;
}

#rateYo,#rateYo2,#rateYo3{
    margin: 0 auto;
}
#rateYo2{
    margin: 15px auto;
}
.media-left{
    text-align: center;
}
#rateYo3{
    margin: 10px auto;
}
.proveedor-info{
    font-family: "OpenSans-Light", serif;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}
.links-proveedores a{
    text-decoration: none;
    padding: 0 10px;
    font-size: 16px;
}
.sweddings .favorite-button{
    text-decoration: none;
}
.favorite-button{
    border: solid 1px;
    font-family: "OpenSans-Light", serif;
    font-size: 1.2em;
    padding: 5px 10px;
}

.proveedor-social{
    padding-top: 30px;
}
.proveedor-social ul{
    float: right;
    vertical-align: top;
}
.proveedor-social ul i{
    font-size: 35px;
}
.proveedor-social li{
    display: inline-block;
    padding: 0 5px;
}
.proveedor-content{
    text-align: center;
    font-family: "OpenSans-Light", serif;
    padding: 20px 0;
}
.comments-box{
    padding: 30px;
}
.comments-box .media-heading .date{
    padding: 0 10px;
}
.flexslider2 img{
    width: 100%;
}
.logo_header{
    float: left;
}
.user-login{
    background: none;
    border: none;
    border-radius: 50%;
}
.btn-login img{
    display: inline-block;
}
.btn-login{
    float: right;
}
.btn-login span{
    padding: 0 10px;
}
.user-login:focus{
    outline: none;
}
.dropdown-user{
    position: absolute;
    top: 60px;
    left: -200px;
    padding: 10px;
}
.dropdown-user a{
    color: #fff;
    text-decoration: none;
}
.dropdown-user button{
    margin: 10px 0;
}
.named{
    padding-left: 40px;
}
.menu_profile{
    padding:30px;
    text-align: center;
}
.menu_profile span{
    margin: 0 auto;
}
.menu_profile li{
    display: inline-block;
    margin: 10px 10px;
}
.menu_profile .current a{
    border: solid 1px #C70052;
    background: #fff;
    color: #C70052;
    box-sizing: border-box;
}
.menu_profile a{
    text-decoration: none;
    padding: 10px 15px;
    background: #C70052;
    color: #fff;
    border-radius: 20px;
    border: solid 1px transparent;
    transition: all .5s;

}
.menu_profile a:hover{
    border: solid 1px #C70052;
    background: #fff;
    color: #C70052;
    box-sizing: border-box;

}
.flash-success{
    position: absolute;
    background: #C90051;
    padding: 10px;
    color: white;
    border-radius: 0 0 10px;
}
.profile-detail span{
    font-weight: bold;
}
.profile-detail{
    text-align: center;
}
.fos_user_user_show{
    padding: 25px;
}
.user_show{
    margin: 0 auto;
}

.profile-detail img{
    width: 100px;
    margin: 10px auto;
}
.comment-detail img{
    margin: 0 auto;
}
.comment-detail{
    text-align: center;
    border-bottom: solid 1px rgba(0,0,0,.1);
    padding:10px;
}
.comment-detail:last-child{
    border:none;
}
.video-general{
    margin: 20px;
}


.slick-prev::before {
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f001';
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.slick-next::before{
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f002';
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}


/*=============
User Login Responsive
===============*/

.user-login-responsive{
    display: none;
}

/*=============
KIDS
===============*/

.kids .footer li a:hover{
    color: #971ED1;
}


/*=============
PARTY
===============*/




/*=============
 WEDDING
===============*/


.lweddings a, .sweddings a{
    color: #35b3b4;
}


.btn-coti{
    margin: 10px 0;
    font-style: normal;
}
.btn-wedding-entrar, .btn-coti{
    background:#35b3b4;
    color: #fff;
}
.form-wedding-login label{
    color:#35b3b4;
}

.wedding-login li a{
    color: #35b3b4;
}
.wedding .footer li a:hover{
    color: #35b3b4;
}
.proveedores .thumbnail{
    border: none;
    box-shadow: none;
    border-bottom: solid 3px #00B3C7;
}
.btn-tittle{
    /*width: 500px;*/
    background: none;
    color: rgba(0,0,0,.5);
    border: solid 5px #35b3b4;
    border-radius: 10px 0 0 10px;
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
    border-radius: 0 10px 10px 0;
}
.btn-flecha{
    background: #35b3b4;
    border: solid 5px #35b3b4;
    border-radius: 0 10px 10px 0;
}

.wedding_proveedores{
    box-sizing: border-box;
    margin: 5px;
    text-align: center;
    border-bottom:solid 3px #35b3b4;
}
.wedding_proveedores a{
    text-decoration: none;
}
.wedding_proveedores h1{
    text-align: center;
    font-size: 15px;
    font-family: "OpenSans-Light", serif;
}
/*=============
DINNER
===============*/

.banner-sliders li img{
    width: 250px;
}


/*=============
MÓVILES PORTAIT
===============*/

@media only screen and (max-width:700px){
    .btn_login_responsive{
        display: none;
    }
    .user-login-responsive{
        display: block;
    }
    .user-login-responsive a{
        text-decoration: none;
        color: #000;
        margin: 0 10px;
    }
    .user-login-responsive img{

        display: inline-block;
    }
    .menu_profile li{
        width: 100%;
        margin-bottom: 20px;
    }
    .music-container iframe{
        width: 350px;
    }
    .tittle_base img{
        width: 100%;
    }
    .tittle_general img{
        width: 100%;
    }
    .header li{
        width: 100%;
    }
    .wedding .footer li a i{
        width:20px;
    }
    .footer_principal li a i{
        width:20px;
    }
    .form-login{
        padding: 30px 0;
    }
    .footer li a{
        color: rgba(0,0,0,.5);
        background: #fff;
        font-size: 20px;
        padding: 10px 15px;
        border-radius: 100px;
        transition: all .5s;
    }

}