{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}

<div class="col-md-8 col-md-offset-2">
    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
</div>


{% endblock content %}
