{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}


    <h1 class="tittle-slicks">Reestablecer Contraseña</h1>
    <hr>
<div class="col-md-8 col-md-offset-2">

        <img width="300px" style="display: block; margin: 20px auto;" src="{{ asset('images/register_logo.png') }}" alt="">


    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
</div>


{% endblock content %}

{% block footer %}

{% endblock %}