{% extends 'base.html.twig' %}

{% block body %}
    <div class="menu">Inicio</div>
    <div class="menu">Proveedores
        <ul>
            {{ render(controller(
            'AppBundle:Default:menu_content'
            )) }}

        </ul>
    </div>
{% endblock %}