{% extends 'wedding/layout.html.twig' %}
{% block content %}
    {{ parent() }}
    <h1>Home child start here2</h1>
    {{ dump(mejores_proveedores) }}
    <a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}">test 1</a>

    {{ dump(mejores_fotos) }}
{% endblock %}