{% extends 'wedding/layout.html.twig' %}
{% block main_title %}

    <div class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_inspiraciones.png') }}" alt="Inspiraciones Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ parent() }}


    <div class="container">
        <ul class="grid effect-6" id="grid">
            <li>
                <img src="http://placehold.it/400x250">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="http://placehold.it/400x640">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="http://placehold.it/400x300">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="http://placehold.it/400x250">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="http://placehold.it/400x640">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="http://placehold.it/400x300">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="http://placehold.it/400x250">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="http://placehold.it/400x640">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="http://placehold.it/400x300">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="http://placehold.it/400x250">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="http://placehold.it/400x640">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="http://placehold.it/400x300">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="http://placehold.it/400x250">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="http://placehold.it/400x640">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="http://placehold.it/400x300">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>

        </ul>

    </div>




{% endblock %}
