{% extends 'kids/layout.html.twig' %}
{% block title %}Contáctenos{% endblock %}
{% block main_title %}
    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/contactenos_kids_tittle.png') }}" alt="Proveedores Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuKids', [], {'image_title': 'contactenos_kids_tittle.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}

    {{ parent() }}


    {{ include('comun_includes/contactenos.html.twig')}}

{% endblock %}