<div class="variable-width negocio-slick">
    {% for f in fotos  %}
        <div>
            <img style="max-width: 780px; max-height: 450px;border: solid 5px white;" src="{{ vich_uploader_asset(f, 'imgFile') }}" />
        </div>
    {% endfor %}
</div>


