{% for label, flash in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flash }}
    </div>
{% endfor %}
{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}